@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media (max-width: 650px) {
  li a:nth-child(2) {
    display: none;
  }

  li a:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 1.2rem;
  }

}

/* *Code für meine H1 Überschriften */
/* inline-block font-extrabold mb-5 bg-gradient-to-r from-cyan-300 to-fuchsia-300 bg-clip-text text-transparent */

/* *code für Texte mit Gradiant */
/* inline-block bg-gradient-to-r from-cyan-300 to-fuchsia-300 bg-clip-text text-transparent  */

/* *ICONS */
/* html        <i class="fa-brands fa-html5"></i>*/
/* css         <i class="fa-brands fa-css3-alt"></i>*/
/* sass         <i class="fa-brands fa-sass"></i>*/
/* tailwind */
/* bootstrap    <i class="fa-brands fa-bootstrap"></i>*/
/* python        <i class="fa-brands fa-python"></i>*/
/* mongoDB */
/* astro */
/* javascript   <i class="fa-brands fa-js"></i>*/
/* react          <i class="fa-brands fa-react"></i> */
/* swift        <i class="fa-brands fa-swift"></i> */