@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 650px) {
  li a:nth-child(2) {
    display: none;
  }

  li a:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 1.2rem;
  }

}